*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

/* CSS for table container */
.table-container {
  overflow-x: auto; /* Enable horizontal scrolling when needed */
}

/* Rest of your CSS */
body {
  background-color: rgb(224, 219, 199); 
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif
}

header {
  background-color: rgb(118, 147, 147); 
  border-bottom: 1px solid rgb(144, 0, 32);
  padding: 20px;
  text-align: center;
}

.grouping-div {
	display: flex;
	justify-content: space-between;
  align-items: center;
}


/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.87);
}

/* Modal content */
.modal-content {
  background-color: #f0f0f0;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgb(144, 0, 32);
  width: 80%;
}

/* Close button */
.close {
  color: #636363;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(144, 0, 32);
  text-decoration: none;
  cursor: pointer;
}

/* Form group */
.form-group {
  margin-bottom: 20px;
}

input[type="number"],
#meridian-select { /* Target the meridian select box specifically using its ID */
  width: 40px; /* Adjust this value as needed */
  margin-right: 5px; /* Optional: Add some space between the input fields */
}

/* Align the meridian select element with the hour and minute input fields */
#meridian-select { /* Target the meridian select box specifically using its ID */
  width: auto; /* Set width to auto to fit the content */
  margin-right: 5px; /* Optional: Add some space between the input fields */
}

/* Label */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Input field */
input[type="text"] {
  width: calc(100% - 12px);
  padding: 6px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}


h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  background-color: #f0f0f0;  
  margin-top: 21px;
  padding: 12px 36px 12px 36px;
  border: 1px solid rgb(144, 0, 32);
}

nav a {
  text-decoration: none;
  font-weight:600;
  color: black;
  margin-right: 10px;
  padding: 10px 20px; 
  border-radius: 5px; 

}

nav a:hover {
  background-color: rgba(118, 147, 147, 0.87);
  color: rgb(144, 0, 32);
  font-weight:600;

}

.sales-date {
  margin-left:8px;
}

.new-order-section, .select-section {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.new-order-btn {
  background-color: rgb(118, 147, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid rgba(93, 107, 107, 0.801);
  border-radius: 5px;
}
.new-order-btn:hover {
  background-color: rgb(100, 128, 128);
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.select-section select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid rgb(144, 0, 32); 
  border-radius: 6px; 

}

section {
  margin-bottom: 42px; 
}

main {
  padding-left: 8px;
  padding-right: 9px;
}
#processed-orders-container, #pending-orders-container , #orders-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 3px solid rgb(199, 194, 175);
  box-shadow: 0 3px 18px rgb(75, 73, 67)
}

#processed-orders-container, #pending-orders-container {
  height: 444px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: separate;
  width: 100%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e6f3ff;
}

.completed {
  background-color: rgb(205, 232, 255)!important; /* Background color for completed orders */
}

.complete-btn {
  background-color: rgba(144, 0, 32);
  color:rgb(152, 175, 175);
  font-size: large;
  padding: 9px;
  border-radius: 12px;
}

.complete-btn.enabled {
  cursor: pointer;
  background-color: rgb(110, 2, 25);
  color: white;
  border-color: rgba(118, 147, 147);
}

.delete-button {
  background-color: #912512; /* Red delete button */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #d6341f; /* Darker red on hover */
}

.processed-button {
  background-color: rgba(48, 145, 39, 0.548);
  color: rgb(255, 255, 0);
  text-shadow: black 1px 1px;
  border: none;
  padding: 5px 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: black 0 0 3px;
  -webkit-text-stroke-width: .5px; /* Width of the outline */
  -webkit-text-stroke-color: black; /* Color of the outline */
}

.processed-button:hover {
  background-color: rgba(85, 199, 75, 0.733);
  box-shadow: rgb(251, 255, 0) 0 1px 1px;
}


footer {
  background-color: rgb(224, 219, 199); /* Change footer background color */
  margin-top: 69px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(196, 192, 174);
}

footer p, cite {
  font-weight: 600;
}


footer ul {
  padding: 9px;
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

address {
  margin-top: 10px; /* Add margin top to address */
}

/* Additional CSS for responsiveness */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px; /* Reduce header padding for smaller screens */
  }

  nav a {
    padding: 8px 16px; 
    display: block;
    border-bottom: 1px solid rgb(144, 0, 32);
  }

  .new-order-btn {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
    font-size: 14px; /* Reduce button font size for smaller screens */
  }

  footer {
    padding: 10px; /* Reduce footer padding for smaller screens */
  }

  footer ul li {
    margin-right: 9px; /* Adjust margin between footer list items for smaller screens */
  }

  address {
    margin-top: 5px; /* Adjust margin top for address for smaller screens */
  }
}